@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(128, 149, 254);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgb(128, 149, 254);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
    padding: 0 2rem;
  }
}
